@model SipServer.DBModel.TSuperiorInfo

@{
    ViewData["Title"] = "上级平台明细";

}

@await Html.PartialAsync("UcEdit", Model)

<a asp-action="Index">返回列表</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
