@model SipServer.Models.SuperiorInfo

@{
    ViewData["Title"] = "修改上级平台";
     
}

<h1>修改</h1>

<h4>上级平台</h4>
<hr />

<form asp-action="Edit">
    @await Html.PartialAsync("UcEdit", Model)
    <div class="form-group">
        <input type="submit" value="保存" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
